apiVersion: v1
kind: Service
metadata:
  name: vit-demo-service
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
spec:
  selector:
    app: vit-demo
  ports:
    - port: 8000
      targetPort: 8000
  type: LoadBalancer